{% extends 'root/base.html' %}
{% load static %}

{% block title %}
  <title>{{ advert.header }}</title>
{% endblock title %}

{% block style %}
  <link rel="stylesheet" href="{% static 'root/css/advert.css' %}">
{% endblock style %}

{% block content %}
  <p><b>Объявление</b> #{{ advert.id }}</p>
  <p><b>Автор объявления:</b> {{ advert.author }}</p>
  <p><b>Заголовок:</b> {{ advert.header }}</p>
  <p><b>Категория:</b> {{ advert.name_cat }}</p>
  <p><b>Описание:</b> {{ advert.description }}</p>
  <p><img src="{{ advert.photo.url }}" alt="{{ advert.header }}"
    style="width: 250px; height: 250px;"></p>
  <p><b>Дата публикации:</b> {{ advert.date_pub }}</p>
  {% if advert.author == user %}
    <a href="{% url 'root:adv_edit' advert.id %}">Редактировать объявление</a>
    <a href="{% url 'root:adv_delete' advert.id %}">Удалить объявление</a>
  {% endif %}
{% endblock content %}