{% extends 'root/base.html' %}
{% load static %}

{% block title %}
  <title>Объявления</title>
{% endblock title %}

{% block style %}
  <link rel="stylesheet" href="{% static 'root/css/announce.css' %}">
{% endblock style %}

{% block content %}
{% if adverts %}
  <ul>
    {% for advert in adverts %}
      <li>
          <p>{{ advert.header }}</p>
          <p>{{ advert.category }}</p>
          <p>{{ advert.description }}</p>
          <p><img src="{{ advert.photo.url }}" alt="{{ advert.header }}"
            style="width: 250px; height: 250px;"></p>
          <p><a href="{% url 'root:advert' advert.id %}">Подробнее...</a></p>
          <hr>
      </li>
    {% endfor %}
  </ul>
{% endif %}
{% endblock content %}