<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>
<body>

  {% if category %}
    {% for category in category %}
          <p>{{ category.header }}</p>
          <p><img src="{{ category.photo.url }}" alt="{{ category.header }}"
            style="width: 250px; height: 250px;"></p>
            <p>{{ category.author }}</p>
          <hr>
    {% endfor %}
{% endif %}


</body>
</html>