{% extends 'root/base.html' %}
{% load static %}

{% block title %}
  <title>Главная</title>
{% endblock title %}

{% block style %}
  <link rel="stylesheet" href="{% static 'root/css/index.css' %}">
{% endblock style %}

{% block content %}
{% if advert %}
  <div class="main-content">
    <ul class="content-list">
      {% for advert in advert %}
        <li class="content-item">
          <p><img class="content-img" src="{{ advert.photo.url }}" alt="{{ advert.header }}"></p>
            <p class="text text-mark">{{ advert.header }}</p>
            <p class="text">{{ advert.category }}</p>
            <p class="text">{{ advert.description }}</p>
            <p class="text">{{ advert.date_pub }}</p>
        </li>
      {% endfor %}
    </ul>
  </div>
{% else %}
  <p>Объявлений не найдено</p>
{% endif %}
{% endblock content %}