{% extends 'root/base.html' %}
{% load static %}

{% block title %}
  <title>Главная</title>
{% endblock title %}

{% block static %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'root/css/index.css' %}">
{% endblock static %}

{% block content %}
{% if advert %}
  <ul style="display: flex; flex-wrap:wrap;">
    {% for advert in advert %}
      <li style="padding: 10px">
          <p>{{ advert.header }}</p>
          <p>{{ advert.category }}</p>
          <p>{{ advert.description }}</p>
          <p><img src="{{ advert.photo.url }}" alt="{{ advert.header }}"
            style="width: 250px; height: 250px;"></p>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>Объявлений не найдено</p>
{% endif %}
{% endblock content %}