<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Объявления</title>
</head>
<body>
<div style = "width: 1000px; margin: 0 auto;">


{% if advert %}
  <ul style="display: flex; flex-wrap:wrap;">
    {% for advert in advert %}
      <li style="padding: 10px">
          <p>{{ advert.header }}</p>
          <p>{{ advert.category }}</p>
          <p>{{ advert.description }}</p>
          <p><img src="{{ advert.photo.url }}" alt="{{ advert.header }}"
            style="width: 250px; height: 250px;"></p>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>Объявлений не найдено</p>
{% endif %}
</div>
</body>
</html>