{% extends 'root/base.html' %}
{% load static %}

{% block style %}
	<link rel="stylesheet" href="{% static 'root/css/signup.css' %}">
{% endblock style %}

{% block title %}
	<title>Регистрация</title>
{% endblock title %}

{% block content %}
	{% if not registered %}
		<h2 class="head-signup">Регистрация!</h2>
		<form method="POST">
			<div class="form-label">
				<div class="form">
					{% csrf_token %}
					{% for field in form %}
						{{ field }}
						{{ field.errors }}
					{% endfor %}
						<button class="form-btn" type="submit">Зарегистрироваться</button>
				</div>
			</div>
		</form>
	{% else %}
		<div class="signup-info">
			<h2 class="head-signup">Вы успешно зарегистрированы!</h2>
			<a class="form-btn" href="{% url 'root:login' %}">Войти</a>
		</div>
	{% endif %}

{% endblock content %}