.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    margin: 0 auto;
  }
  
  .profile-label {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d1cdcd;
    width: 400px;
  
    margin: 0 auto;
    padding: 20px;
  }
  
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #d1cdcd;
    width: 400px;
  
    margin: 0 auto;
    padding: 20px;
  }

  .form-input {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
  
    margin-bottom: 20px;
    padding: 5px;
  }
  
  .form-control {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
  
    margin-bottom: 20px;
    padding: 5px;
  
    cursor: pointer;
  }
  
  .form-btn {
      font-family: "Montserrat", sans-serif;
      font-weight: 300;
      font-style: normal;
      font-size: 20px;
      line-height: 25px;
  
      min-width: 100px;
      text-align: center;
  
      color: #ffffff;
  
      background: #000000;
      border: none;
  
      padding: 9px 22px;
  
      cursor: pointer;
      transition: all 0.3s;
  }
  
  .form-btn:hover {
    background: #afaaa1;
  }
  
  .form-btn:active {
    background: #afaaa1;
  }
  
  .profile-link {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    line-height: 25px;
    color: #000;
  }