.advert-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  color: #000;

  margin: 0;
  padding-bottom: 10px;
}

.advert-img {
  padding-bottom: 5px;
}

.block-link {

  
  margin: 0;
  padding: 10px 0;
}

.advert-link {
  margin: 0 auto;
  padding: 10px 20px;

  background-color: #000;  
  border-radius: 30px;

  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 25px;
  color: #fff;

  cursor: pointer;
  transition: all 0.3s;
}

.advert-link:hover {
  background: #afaaa1;
}

.advert-link:active {
  background: #afaaa1;
}
