{% extends 'root/base.html' %}
{% load static %}

{% block title %}
  <title>Войти в аккаунт</title>
{% endblock title %}

{% block style %}
  <link rel="stylesheet" href="{% static 'root/css/login.css' %}">
{% endblock style %}

{% block content %}
{% if not user.is_authenticated %}
<form method="POST" class="wrapper-form">
  {% csrf_token %}
  {% for field in form %}
    <div class="form-row">
      <label class="form-line">
        <p>{{ field }}</p>
      </label>
    </div> 
  {% endfor %}
    <button class="link-btn-sub" type="submit">Войти</button>
  </form>
{% endif %}
{% endblock content %}