{% extends 'root/base.html' %}
{% load static %}

{% block style %}
	<link rel="stylesheet" href="{% static 'root/css/password_reset.css' %}">
{% endblock style %}

{% block title %}
	<title>Войти в аккаунт</title>
{% endblock title %}

{% block content %}
	<div class="content">
	<h3>Восстановление пароля</h3>
	<hr>
	{% if not user.is_authenticated %}
		<form method="POST">
		{% csrf_token %}
		{{ form }}
			<button type="submit">Восстановить</button>
		</form>
	{% else %}
		<h3>Привет, {{ user.username }}</h3>
			<a href="{% url 'root:logout' %}">Выйти?</a>
			<a href="{% url 'root:index' %}">На главную</a>
	{% endif %}
	</div>
{% endblock content %}