{% extends 'root/base.html' %}
{% load static %}

{% block style %}
	<link rel="stylesheet" href="{% static 'root/css/advert.css' %}">
{% endblock style %}

{% block title %}
	<title>{{ advert.header }}</title>
{% endblock title %}

{% block content %}
	<p class="advert-text">Объявление #{{ advert.id }}</p>
	<a class="author-link" href="{% url 'root:profile' advert.author.id %}">{{ advert.author }}</a>
	<p class="advert-text">Заголовок: {{ advert.header }}</p>
	<p class="advert-text">Описание: {{ advert.description }}</p>
	<img class="advert-img" src="{{ advert.photo.url }}" alt="{{ advert.header }}">
	<p class="advert-text">Дата публикации: {{ advert.date_pub }}</p>
	{% if user.is_authenticated %}
		{% if advert.author == user %}
		<div class="block-link">
			<a class="advert-link" href="{% url 'root:adv_edit' advert.id %}">Редактировать объявление</a>
			<a class="advert-link" href="{% url 'root:adv_delete' advert.id %}">Удалить объявление</a>
		</div>
		{% endif %}
	{% endif %}
{% endblock content %}